<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2TWCcwT4FuOAUr27ysLyz0hpG_jT-ILc</string>
	<key>GCM_SENDER_ID</key>
	<string>36581931564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asfand.todo1</string>
	<key>PROJECT_ID</key>
	<string>todo-d3dda</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-d3dda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36581931564:ios:37cc2e3e51870991e16f89</string>
	<key>DATABASE_URL</key>
	<string>https://todo-d3dda-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>